.login_button{
    background-color: transparent;
    border: 3px solid var(--c2);
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--c2);
    transition: 0.3s;
  }
  .login_button:hover{
    background-color: var(--c2);
    color: white;
  }
  .login_button:active{
    background-color: #cf3e2b;
    transition: 0s;
  }

.button_1{
    background-color: transparent;
    border: 3px solid var(--c2);
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--c2);
    transition: 0.3s;
}
.button_1:hover{
  background-color: var(--c2);
  color: white;
}
.button_1:active{
  background-color: #cf3e2b;
  transition: 0s;
}





  @media screen and (max-width: 850px) {
    .login_button{
        display: none;
    }
  }